@addTagHelper *, TheTallTankardTavern
@model IEnumerable<TheTallTankardTavern.Models.PartyModel>
@using TheTallTankardTavern.Configuration

@{
    ViewData["Title"] = "Parties";
}

<partial name="/Views/Shared/Custom/ActionButtons/_CreatePartial.cshtml" />

@{
    if (Model == null || Model.Count() < 1)
    {
        <h3>None of your characters have joined any parties.</h3>
    }
    else
    {
        <table table-hover="true">
            <thead>
                <tr>
                    <th><label>Party</label></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (PartyModel p in Model)
                {
                    <tr onclick="goTo('Party', 'Details', '@p.ID')">
                        <td>@p.Name</td>
                        <td><buttonlink class="td-action-btn" asp-action="Edit" text="Edit" asp-route-id="@p.ID"></buttonlink></td>
                        <td><buttonlink class="td-action-btn" asp-action="Delete" text="Delete" asp-route-id="@p.ID"></buttonlink></td>
                    </tr>
                }
            </tbody>
        </table>
    }
}