@addTagHelper *, TheTallTankardTavern
@model TheTallTankardTavern.Models.PartyModel
@using TheTallTankardTavern.Configuration
@using static TheTallTankardTavern.Configuration.ApplicationSettings

@{
    ViewData["Title"] = "Party";
}

<style>
    #party-combat td:not(:first-child) {
        text-align: right;
    }
</style>

<h1>@ViewData["Title"]</h1>
<br />
<partial name="/Views/Party/_PartyMemberAdd.cshtml" model="Model" />

<buttonlink class="font-weight-bold" asp-action="Index" text="Refresh"></buttonlink>
&nbsp;&nbsp;
<buttonlink class="font-weight-bold" asp-action="ResetInitiative" text="Reset Initiative"></buttonlink>
&nbsp;&nbsp;
<em id="auto-save-message"></em>
<br />
<br />

<div class="nav nav-tabs">
    <a class="nav-item nav-link active" data-toggle="tab" href="#party-combat"><strong>Combat</strong></a>
    <a class="nav-item nav-link" data-toggle="tab" href="#party-details"><strong>Details</strong></a>
</div>

<div class="tab-content">
    <div id="party-combat" class="tab-pane active">
        <div class="row col-md-6">
            <partial name="/Views/Party/_PartyCombat.cshtml" model="Model" />
        </div>
    </div>
    <div id="party-details" class="tab-pane">
        <div class="row col-md-6">
            <partial name="/Views/Party/_PartyDetails.cshtml" model="Model" />
        </div>
    </div>
</div>