@addTagHelper *,TheTallTankardTavern

<style>
    .sorcery-point-conversion h2 {
        font-size: large;
        font-weight: bold;
    }
    .sorcery-point-conversion h3 {
        font-weight: bold;
    }
    .sorcery-point-conversion table {
        text-align: center;
    }
</style>

<div class="sorcery-point-conversion row">
    <div class="col-md-6">
        <h2>Sorcery Point Conversion</h2>
        <p>Official reference for this information can be found in the <a href="https://www.dndbeyond.com/classes/sorcerer#ClassFeatures">Sorcerer Class Features page</a></p>
        <p>Sorcery Points only restore after a <em><u>long rest</u></em>.</p>
        <h3>Converting a Spell Slot to Sorcery Points</h3>
        <p>As a <em><u>bonus action</u></em> on your turn, you can expend one spell slot and gain a number of sorcery points equal to the slot’s level.</p>
    </div>
    <div class="col-md-6">
        <h3>Creating Spell Slots</h3>
        <table>
            <tr>
                <th>SPELL SLOT LEVEL</th>
                <th>SORCERY POINT COST</th>
            </tr>
            <tr>
                <td>1st</td>
                <td>2</td>
            </tr>
            <tr>
                <td>2nd</td>
                <td>3</td>
            </tr>
            <tr>
                <td>3rd</td>
                <td>5</td>
            </tr>
            <tr>
                <td>4th</td>
                <td>6</td>
            </tr>
            <tr>
                <td>5th</td>
                <td>7</td>
            </tr>
        </table>
    </div>
</div>
