@model TheTallTankardTavern.Models.CharacterModel
@addTagHelper *, TheTallTankardTavern

<style>
    #character-buttons a.action-btn {
        width: 100%;
        border: 1px solid lightgray;
        color: slategrey;
    }
</style>

<div id="character-buttons">
    <div class="row">
        <div class="col-md-6">
            <buttonlink class="action-btn" asp-action="TakeLongRest" asp-route-id="@Model.ID" text="LONG REST"></buttonlink>
        </div>
        <div class="col-md-6">
            <buttonlink class=" action-btn" asp-action="UseHitDie" asp-route-id="@Model.ID" text="USE HIT DIE"></buttonlink>
        </div>
    </div>
</div>