@model TheTallTankardTavern.Models.CharacterModel
@using TTT.Enumerator
@using static TheTallTankardTavern.Configuration.Constants
@addTagHelper *, TheTallTankardTavern

<div id="character-languages">
    <div id="languages-card" class="card stat-card other-stat-card">
        <div class="card-body">
            <div class="stat-card-label-header">KNOWN LANGUAGES</div>
            <div class="stat-card-content">
                <textarea class="readonly-textarea" readonly="readonly" rows="@Model.Languages.Where(l => l).Count()">
                @{ LANGUAGES[] langArray = ModelListHelper.AllValues<LANGUAGES>().ToArray();}
                @for (int i = 0; i < langArray.Length; i++)
                {
                    if (Model.Languages[langArray[i]])
                    {
                        @(langArray[i].EnumToString() + (i == langArray.Length - 1 ? "" : "\n"))
                    }
                }
                </textarea>
            </div>
        </div>
    </div>
</div>
