@model TheTallTankardTavern.Models.CharacterModel
@addTagHelper *, TheTallTankardTavern

<style>
    #character-other-proficiencies textarea {
        resize: none;
        border: none;
        background: transparent;
    }
</style>
<strong>Proficiencies</strong>
<div class="character-weapon-armour-proficiencies">
    <u>Weapon &amp; Armour</u>
    <table>
        <tbody>
            @foreach (string prof in Model.WeaponArmourProficiencies.Keys)
            {
                if (Model.WeaponArmourProficiencies[prof])
                {
                    <tr>
                        <td>@prof</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<div id="character-other-proficiencies">
    <u>Other</u>
    @if (!string.IsNullOrEmpty(Model.Proficiencies))
    {
        <textarea readonly="readonly" asp-for="Proficiencies" rows="10"></textarea>
    }
    else
    {
        <textarea readonly="readonly">Wow really? Nothing?</textarea>
    }
</div>