@addTagHelper *, TheTallTankardTavern

    <table>
        <tr>
            <th colspan="2">Actions</th>
        </tr>
        <tr>
            <td>Attack</td>
            <td>Make a melee (STR) or ranged (DEX) attack, adding your relevant ability modifier and proficiency bonus if applicable.</td>
        </tr>
        <tr>
            <td>Cast a Spell</td>
            <td>Cast a spell you are able to cast according to the rules of your spellcasting class. This spell must have a casting time of ‘1 action.’ </td>
        </tr>
        <tr>
            <td>Dash</td>
            <td>You may move an extra distance this turn equal to your current speed after applying any modifiers. </td>
        </tr>
        <tr>
            <td>Disengage</td>
            <td>Your movement for the rest of your turn does no provoke attacks of opportunity.</td>
        </tr>
        <tr>
            <td>Dodge</td>
            <td>Until the start of your next turn and as long as your speed is not 0 and you are not Incapacitated,<br />
            attacks made against you have disadvantage and you have advantage on Dexterity saving throws.</td>
        </tr>
        <tr>
            <td>Escape Grapple</td>
            <td>Make an Athletics or Acrobatics check contested by the grappler’s Athletics check to escape a Grapple.</td>
        </tr>
        <tr>
            <td>Grapple</td>
            <td>The target of your Grapple must be no more than one size category larger than you and it must be within your Reach.<br />
            When you take the Attack action you can forego one of your weapon attacks to try to Grapple your target.<br />
            Make an Athletics check contested by the target’s Athletics or Acrobatics check (their choice). If you succeed your target suffers from the Grappled condition. </td>
        </tr>
        <tr>
            <td>Help</td>
            <td>Your target gains advantage on the next ability check they make before the start of your next turn.</td>
        </tr>
        <tr>
            <td>Hide</td>
            <td>Make a Stealth check to attempt to become hidden.</td>
        </tr>
        <tr>
            <td>Improvise</td>
            <td>Take an action not described here, providing your DM allows it. E.g. Break down a door, intimidate foes. </td>
        </tr>
        <tr>
            <td>Ready</td>
            <td>Ready an Action for use later during the round. Decide what circumstances might trigger your action.<br />
            When the trigger occurs you may choose to spend your Reaction after the trigger finishes to perform the readied Action or move a distance up to your speed (if you readied Dash).<br />
            If you Ready a spell it requires Concentration until it is triggered. </td>
        </tr>
        <tr>
            <td>Search</td>
            <td>Depending on the nature of your search, make a Perception or Investigation check.</td>
        </tr>
        <tr>
            <td>Shove</td>
            <td>As Grapple, but if you succeed you instead may choose to either knock your target prone or push it 5 feet away from you.</td>
        </tr>
        <tr>
            <td>Stabilize</td>
            <td>Use a Medicine’s Kit or make a Medicine check with a DC of 10 to cause a dying creature to become Stable.</td>
        </tr>
    </table>

