@addTagHelper *, TheTallTankardTavern

<table>
    <tr>
        <th>Interactions</th>
    </tr>
    <tr>
        <td>Draw, sheathe, or exchange a weapon on your person.</td>
    </tr>
    <tr>
        <td>Open or close a door.</td>
    </tr>
    <tr>
        <td>Withraw, deposit, or exchange an item from your pack.</td>
    </tr>
    <tr>
        <td>Pick up a dropped or unattended item.</td>
    </tr>
    <tr>
        <td>Hand an item to another player.</td>
    </tr>
    <tr>
        <td>Throw a lever or switch.</td>
    </tr>
    <tr>
        <td>Turn a key in a lock.</td>
    </tr>
    <tr>
        <td>Pull the hood of your cloak up.</td>
    </tr>
</table>

