@addTagHelper *, TheTallTankardTavern

<table>
    <tr>
        <th colspan="2">Order of Combat</th>
    </tr>
    <tr>
        <td>Surprise</td>
        <td>Surpriser's Stealth vs Target's Passive Perception.</td>
    </tr>
    <tr>
        <td>Positions</td>
        <td>Positions decided by DM and players depending the<br />
        marching order or scenario before combat was initiated.</td>
    </tr>
    <tr>
        <td>Initiative</td>
        <td>Players, NPCs, and Mobs roll a DEX check plus Initiative bonus,<br />
        higher DEX wins ties, if needed roll a tie breaker.</td>
    </tr>
    <tr>
        <td>Turns</td>
        <td>In initiative order, Players, NPCs, and Mobs take their turn.</td>
    </tr>
</table>

