@addTagHelper *, TheTallTankardTavern

<table>
    <tr>
        <th colspan="2">Parts of your Turn</th>
    </tr>
    <tr>
        <td>Movement</td>
        <td>Move a distance up to your speed (halved in rough terrain).</td>
    </tr>
    <tr>
        <td>Interaction</td>
        <td>You may briefly communicate and/or perform something on<br />
        or equivalent to an option on the interactions table.</td>
    </tr>
    <tr>
        <td>Action</td>
        <td>You may do something that costs one action.</td>
    </tr>
    <tr>
        <td>Bonus Action</td>
        <td>You may take a single bonus action if your character has any.</td>
    </tr>
    <tr>
        <td>Reaction</td>
        <td>You may take an action as a response to a trigger (only once per round).<br />
        Opportunity attack reactions can be taken when a target is about to leave your reach.<br />
        Opportunity attacks are avoided if the target disengages, teleports,<br />
        or is moved by some force external to themself.</td>
    </tr>
</table>

