@using TheTallTankardTavern.Configuration
@addTagHelper *, TheTallTankardTavern



<div id="filter-by-class">
    <div>
        <buttonlink asp-action="FilteredIndex" asp-route-filtertext="All" text="All"></buttonlink>
    </div>

    @foreach (string ClassName in ApplicationSettings.ConfigurationSettings.Classes.Keys)
    {
        <div>
            <buttonlink asp-action="FilteredIndex" asp-route-filtertext="@ClassName" text="@ClassName"></buttonlink>
        </div>
    }
</div>
