@addTagHelper TheTallTankardTavern.TagHelpers.SubmitTagHelper, TheTallTankardTavern
@addTagHelper TheTallTankardTavern.TagHelpers.ButtonLinkTagHelper, TheTallTankardTavern

<style>
    #filters .btn {
        font-weight: bold;
        width: 100px;
        margin-bottom: 2px;
    }

    #filters .searchbox,
    #filters .sort-by {
        border-radius: .25rem;
        border-style: solid;
        border-width: 1px;
        border-color: black;
        min-width: 280px;
    }
</style>

<div id="filters">
    <form asp-action="FilteredIndex" method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="d-inline">
                    <label>Search:</label>&nbsp;
                    <input class="searchbox" name="searchtext" value="@(ViewData["searchtext"] ?? "")" />
                </div>
                <div class="d-inline">
                    <label>Sort by:</label>
                    <select class="sort-by" name="sorttext">
                        <option value="Name">Name</option>
                        <option value="Level">Level</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <submit text="Apply Filters"></submit>
                </div>
                <div>
                    <buttonlink asp-action="Index" text="Clear Filters"></buttonlink>
                </div>
            </div>
        </div>
        <div>
        </div>
    </form>
</div>
