@using TheTallTankardTavern.Configuration
@addTagHelper *, TheTallTankardTavern


<style>
    #filters .btn {
        font-weight: bold;
        width: 150px;
        margin-bottom: 2px;
    }
</style>

<div class="row" id="filters">
    <div class="col-md-12">
        <form asp-action="FilteredIndex" method="post">
            <div class="row">
                <div class="col-md-4">
                    <label>Search: </label>
                    <input class="form-control" name="searchtext" value="@(ViewData["searchtext"] ?? "")" />
                </div>
                <div class="col-md-4">
                    <label>Filter by:</label>
                    <select name="filter-dropdown">
                        <option value="All">No Filter</option>
                        @if (ContextUser.IsAdminOrDM)
                        {
                            <option value="Hidden">Hidden Features Only</option>
                        }
                        <option value="ClassFeature">Non-Class Features Only</option>
                        <option value="ClassFeature">Class Features Only</option>
                        <option value="Barbarian">Barbarian Features Only</option>
                        <option value="Bard">Bard Features Only</option>
                        <option value="Cleric">Cleric Features Only</option>
                        <option value="Druid">Druid Features Only</option>
                        <option value="Fighter">Fighter Features Only</option>
                        <option value="Monk">Monk Features Only</option>
                        <option value="Paladin">Paladin Features Only</option>
                        <option value="Ranger">Ranger Features Only</option>
                        <option value="Rogue">Rogue Features Only</option>
                        <option value="Sorcerer">Sorcerer Features Only</option>
                        <option value="Warlock">Warlock Features Only</option>
                        <option value="Wizard">Wizard Features Only</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <br>
                    <submit text="Apply Filters"></submit>
                </div>
                <div class="col-md-2">
                    <br>
                    <buttonlink asp-action="Index" text="Clear Filters"></buttonlink>
                </div>
            </div>
        </form>
    </div>
</div>