@using TheTallTankardTavern.Configuration
@model TheTallTankardTavern.Models.FeatureModel
@addTagHelper *, TheTallTankardTavern
@{
    ViewData["Title"] = Model.Name;
}

<form asp-action="Save" method="post">
    <hidden asp-for="ID"></hidden>
    <partial name="/Views/Shared/Custom/ActionButtons/_BackSavePartial.cshtml" />
    <table>
        <thead>
            <tr>
                <th style="width:200px"></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><label asp-for="Name"></label></td>
                <td><textbox asp-for="Name"></textbox></td>
            </tr>
            <tr>
                <td><label asp-for="Prerequisite"></label></td>
                <td><textbox asp-for="Prerequisite"></textbox></td>
            </tr>
            <tr>
                <td><label asp-for="Class"></label></td>
                <td><select asp-for="Class" asp-items="SelectListHelper.GetClassSelectList()" id="character-class" onchange="updateSubclassDropdown()"></select></td>
            </tr>
            <tr>
                <td><label asp-for="Subclass"></label></td>
                <td><select asp-for="Subclass" asp-items="@SelectListHelper.GetSubclassSelectList("")" id="character-subclass"></select></td>
            </tr>
            <tr>
                <td><label asp-for="IsClassFeature"></label></td>
                <td><input type="checkbox" asp-for="IsClassFeature" /></td>
            </tr>
            <tr>
                <td><label asp-for="IsHomebrew"></label></td>
                <td><input type="checkbox" asp-for="IsHomebrew" /></td>
            </tr>
            @if (ContextUser.IsAdminOrDM)
            {
                <tr>
                    <td><label asp-for="IsHidden"></label></td>
                    <td><input type="checkbox" asp-for="IsHidden" /></td>
                </tr>
            }
            <tr>
                <td><label asp-for="Desc"></label></td>
                <td><textarea asp-for="Desc" style="width:100%" rows="10"></textarea></td>
            </tr>
        </tbody>
    </table>
</form>

