.strength-background {
    background-color: #ffcccc;
}

.deterity-background {
    background-color: #ccffcc;
}

.constitution-background {
    background-color: #ccffff;
}

.intelligence-background {
    background-color: #ffccff;
}

.wisdom-background {
    background-color: #ccccff;
}

.charisma-background {
    background-color: #ffcc99;
}

.bloodied {
    background-color: rgba(255, 100, 100, 0.1);
}

.unconcious{
    background-color: rgba(255, 0, 0, 0.2);
}