.strength {
    color: #ffcccc;
}

.deterity {
    color: #ccffcc;
}

.constitution {
    color: #ccffff;
}

.intelligence {
    color: #ffccff;
}

.wisdom {
    color: #ccccff;
}

.charisma {
    color: #ffcc99;
}