.strength-background {
    background-color: #ffcccc;
}

.deterity-background {
    background-color: #ccffcc;
}

.constitution-background {
    background-color: #ccffff;
}

.intelligence-background {
    background-color: #ffccff;
}

.wisdom-background {
    background-color: #ccccff;
}

.charisma-background {
    background-color: #ffcc99;
}