.table-hover > tbody > tr:hover,
.row-hover:hover, 
.hoverable:hover {
    background-color: #d0d0ff;
}

.table th,
.table td, 
.table th label, 
.table td label {
    vertical-align: middle;
    font-size: 14px;
} 

input[type=number],
input[type=text] {
    height: 26px;
}

input.form-control,
select.form-control {
    height: 30px;
    padding: 5px;
    font-size: small;
}

header > nav.navbar {
    padding-top: 2px;
    padding-bottom: 2px;
}

footer.footer {
    line-height: 40px;
}

th, td {
    white-space: nowrap;
}

.action-btn {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
}

a.btn.action-btn,
a.btn.td-action-btn,
input.btn {
    font-weight: bold;
}

.td-action-btn {
    width: 70px;
}

label {
    font-weight: bold;
}

tr.invalid-row td {
    background-color: #ffaaaa;
}

tr.invalid-row:hover td {
    background-color: #cc7777;
}

.skill-proficient,
.skill-proficient select {
    color: blue;
}

.skill-expert,
.skill-expert select {
    color: green;
}

.item-magic {
    color: darkmagenta;
}

.skill-proficient, 
.skill-expert,
.item-magic {
    font-weight: bold;
}

.title {
    margin: 1px;
}

.subtitle {
    color: slategrey;
    font-style: italic;
    font-size: small;
}

.disabled-cell {
    color: lightgray;
}

.card-title {
    font-weight: bold;
}

.form-control:disabled,
.form-control[readonly], 
textarea[readonly] {
    background: transparent;
}

textarea[readonly] {
    resize: none;
    border: none;
    font-size: smaller;
}

label {
    margin: 0px;
}