.experience-bar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    vertical-align: middle;
    background-color: rgba(30,30,30,1);
    border-radius: 20px;
    text-align: center;
}

.experience-bar {
    position: absolute;
    background-color: rgba(255, 200, 0, 0.1);
    border-radius: 20px;
}

.experience-bar-text {
    color: dodgerblue;
    opacity: 0.8;
    font-weight: bolder;
}

.experience-bar-left {
    float: left;
    margin-left: 10px;
}

.experience-bar-center {
    overflow: hidden;
}

.experience-bar-right {
    float: right;
    margin-right: 10px;
}
