/* Variables */
:root {
    --custom-dark-grey: rgb(96, 96, 96);
    --custom-light-grey: rgb(192, 192, 192);
    --site-font-color: rgb(180, 180, 180);
}

body {
    font-family: Candara;
    color: var(--custom-light-grey);
    background-color: black;
}

body::after {
  content: "";
  background: url('/images/custom/dnd_starter_set_art.jpg');
  /*background-repeat: no-repeat;*/
  background-size: 100%;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.nav-item.nav-link.active,
.nav-item .nav-link.active {
    background-color: rgba(50, 50, 50, 0.5);
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: var(--site-font-color);
}

.form-control {
    background-color: rgba(50, 50, 50, 0.5);
}