.card,
.card-body,
.card-header,
.card-footer {
    background-color: transparent;
}

.stat-card {
    border: none;
}

.stat-card .card-body {
    text-align: center;
    border: 1px solid var(--custom-light-grey);
    padding: 0px;
    border-radius: 0.5em;
}

.card-body-border-red {
    border: 1px solid red !important;
}

.card-body > .row {
    align-items: center;
}

.stat-card-label,
.stat-card-label-header {
    color: var(--custom-light-grey);
    font-weight: bold;
}

.stat-card-label-header {
    font-size: smaller;
    border-bottom: 1px solid var(--site-font-color);
}

.stat-card .stat-score-card > .stat-card-label {
    font-size: small;
}

.stat-card .stat-score-card > .stat-card-content {
    font-size: medium;
}

.stat-card .stat-score-card > .stat-card-content.stat-save {
    font-size: smaller;
}

.stat-card .stat-skills-card .stat-card-content {
    font-size: smaller;
    text-align: left;
}

.stat-score-card {
    padding-right: 0px;
    border-right: 1px solid var(--site-font-color);
}

.other-stat-card > .card-body > .row > [class*='col-']:first-child,
.other-stat-card > .card-body > .row > [class*='col-']:last-child {
    padding-top: 2px;
    padding-bottom: 2px;
}

.other-stat-card > .card-body > .row > [class*='col-']:first-child > .stat-card-content {
    border-right: 1px solid var(--site-font-color);
    font-size: small;
}

.other-stat-card > .card-body > .row > [class*='col-']:last-child > .stat-card-content {
    font-size: smaller;
    font-weight: bold;
    color: var(--site-font-color);
    padding-right: 30px;
}

.grouped-stats .stat-card:not(:first-child) {
    padding-left: 0px;
}

.grouped-stats .stat-card:not(:last-child) {
    padding-right: 0px;
}

.grouped-stats-label {
    color: var(--site-font-color);
    font-weight: bold;
    /*font-size: small;*/
}

.grouped-stats .stat-card-content {
    font-size: small;
}

.other-stat-card-three-column .stat-card-label,
.other-stat-card-three-column .stat-card-content {
    font-size: small;
}

.other-stat-card-three-column [class*='col-'] {
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.other-stat-card-three-column input[type='number'] {
    border: none;
    font-weight: bold;
}

.other-stat-card-three-column a {
    color: var(--site-font-color);
    border: 1px solid var(--custom-dark-grey);
    font-size: smaller;
}
