@model TTT.Items.ItemModel
@addTagHelper *, TheTallTankardTavern
@{
    ViewData["Title"] = Model.Name;
}

<form asp-action="Save" method="post">
    <hidden asp-for="ID"></hidden>
    <partial name="/Views/Shared/Custom/ActionButtons/_BackSavePartial.cshtml" />
    <br />

    <strong>Basic Properties</strong>
    <div class="row" id="item-basic-properties">
        <div class="col-md-12">
            <table>
                <thead>
                    <tr>
                        <th width="10%"></th>
                        <th width="40%"></th>
                        <th width="10%"></th>
                        <th width="40%"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><label asp-for="Name"></label></td>
                        <td colspan="3"><textbox asp-for="Name"></textbox></td>
                    </tr>
                    <tr>
                        <td><label asp-for="Type"></label></td>
                        <td><select asp-for="Type" asp-items="SelectListHelper.GetItemTypesSelectList()"></select></td>
                        <td><label asp-for="IsMagic"></label></td>
                        <td><input type="checkbox" asp-for="IsMagic" /></td>
                    </tr>
                    <tr>
                        <td><label asp-for="Cost"></label></td>
                        <td><numberbox asp-for="Cost"></numberbox></td>
                        <td><label asp-for="IsHomebrew"></label></td>
                        <td><input type="checkbox" asp-for="IsHomebrew" /></td>
                    </tr>
                    <tr>
                        <td><label asp-for="Weight"></label></td>
                        <td><numberbox asp-for="Weight"></numberbox></td>
                        <td><label asp-for="IsHidden"></label></td>
                        <td><input type="checkbox" asp-for="IsHidden" /></td>
                    </tr>
                    <tr>
                        <td><label asp-for="Description"></label></td>
                        <td colspan="3"><textarea asp-for="Description" style="width:100%" rows="10"></textarea></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <strong>Weapon Properties</strong>
    <div class="row" id="item-weapon-properties">
        <div class="col-md-12">
            <table>
                <thead>
                    <tr>
                        <th width="12%"></th>
                        <th width="8%"></th>
                        <th width="20%"></th>
                        <th width="2%"></th>
                        <th width="8%"></th>
                        <th width="20%"></th>
                        <th width="2%"></th>
                        <th width="8%"></th>
                        <th width="20%"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><label asp-for="Weapon.Plus"></label></td>
                        <td colspan="8"><numberbox min="0" max="3" asp-for="Weapon.Plus"></numberbox></td>
                    </tr>
                    <tr>
                        <td><label asp-for="Weapon.Damage"></label></td>
                        <td><select name="die1" asp-items="SelectListHelper.GetDamageDieSelectList()"></select></td>
                        <td><select name="type1" asp-items="SelectListHelper.GetDamageTypeSelectList()"></select></td>
                        <td>&nbsp;+&nbsp;</td>
                        <td><select name="die2" asp-items="SelectListHelper.GetDamageDieSelectList()"></select></td>
                        <td><select name="type2" asp-items="SelectListHelper.GetDamageTypeSelectList()"></select></td>
                        <td>&nbsp;+&nbsp;</td>
                        <td><select name="die3" asp-items="SelectListHelper.GetDamageDieSelectList()"></select></td>
                        <td><select name="type3" asp-items="SelectListHelper.GetDamageTypeSelectList()"></select></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>

