@{
    ViewData["Title"] = "Storage";
}
@addTagHelper *, TheTallTankardTavern
@using TheTallTankardTavern.Configuration
@using TheTallTankardTavern.Models

@model StorageModel

<style>
    th {
        border-bottom: 1px solid;
    }

    .table td {
        border: none;
    }
</style>

<div id="storage">
    <div id="storage-settings" class="row">
        <div class="col-md-6">
            <buttonlink class="font-weight-bold" asp-action="Index" text="Refresh Page"></buttonlink>
        </div>
            @if (ContextUser.IsAdminOrDM)
            {
                <partial name="/Views/Storage/_StorageSettingsPartial.cshtml" model="Model" />
            }
    </div>
    <div class="row col-md-12">
        <br />
    </div>
    <div id="storage-item-management" class="row">
        <partial name="/Views/Storage/_StorageItemsPartial.cshtml" model="Model" />
    </div>
</div>

