@{
    ViewData["Title"] = "Calendar of Harptos";
}

<div class="row">
    <div class="col-md-12">
        <img src="~/images/custom/CalendarOfHarptos.PNG" style="height:440px;opacity:0.5" />
    </div>
</div>
