@{
    ViewData["Title"] = "Calendar of Harptos";
}

<div class="row">
    <div class="col-md-12">
        <h4><strong><a href="https://app.fantasy-calendar.com/calendars/edb48106cf416a08d88ebf69bcc11146">LINK TO CALENDAR</a></strong></h4>
    </div>
    <br />
    <div class="col-md-12">
        <h5>Calendar Reference &amp; Legned</h5>
        <img src="~/images/custom/CalendarOfHarptos.PNG" style="height:440px;opacity:0.7" />
    </div>
</div>
