@{
    ViewData["Title"] = "Homebrews";
}
@addTagHelper *, TheTallTankardTavern

<h1>@ViewData["Title"]</h1>

<div class="nav nav-tabs">
    <a class="nav-item nav-link active" data-toggle="tab" href="#armour-class"><strong>Armour Class</strong></a>
    <a class="nav-item nav-link" data-toggle="tab" href="#weapon-traits"><strong>Weapon Traits</strong></a>
</div>
<br />
<div class="tab-content">
    <div id="armour-class" class="tab-pane active">
        <div class="row">
            <div class="col-md-12">
                <div class="font-weight-bold">Armour Class</div>
                <em>Character AC = Armour AC + DEX Bonus</em>
            </div>
            <div class="col-md-4">
                <table>
                    <thead>
                        <tr>
                            <th>Armour Weight</th>
                            <th>Dexterity Bonus</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Light</td>
                            <td>Your DEX mod</td>
                        </tr>
                        <tr>
                            <td>Medium</td>
                            <td>Your DEX mod (Up to 2)</td>
                        </tr>
                        <tr>
                            <td>Heavy</td>
                            <td>0</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div id="weapon-traits" class="tab-pane">
        <div class="row">
            <div class="col-md-12">
                <div class="font-weight-bold">Weapon Traits</div>
                <table>
                    <thead>
                        <tr>
                            <th>Trait</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Defensive</td>
                            <td>
                                Improves AC by a fixed amount when wielding. Does not stack if wielding more than one defensive weapon.
                            </td>
                        </tr>
                        <tr>
                            <td>Finesse</td>
                            <td>
                                You can use your DEX mod instead of your STR mod with this melee weapon.
                            </td>
                        </tr>
                        <tr>
                            <td>Large</td>
                            <td>
                                Must be at least a Medium size creature or have 15 STR to wield, otherwise take disadvantage on attack rolls.
                            </td>
                        </tr>
                        <tr>
                            <td>Small</td>
                            <td>
                                A creature may dual wield this weapon with another small weapon.
                            </td>
                        </tr>
                        <tr>
                            <td>Ranged</td>
                            <td>
                                DEX mod to attack.  Range is X/Y, where X is the max range without disadvantage on attack rolls, and Y is the absolute max range.
                            </td>
                        </tr>
                        <tr>
                            <td>Thrown</td>
                            <td>
                                Melee weapon that can be thrown.  When throwing, treat this as a ranged weapon.
                            </td>
                        </tr>
                        <tr>
                            <td>Two Handed</td>
                            <td>
                                Must be held with two hands when wielding.
                            </td>
                        </tr>
                        <tr>
                            <td>Versitile</td>
                            <td>
                                When held with two hands, use the (larger valued) damage die (or dice) specified.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>