@model TheTallTankardTavern.Models.CharacterModel
@using TTT.Enumerator
@using TheTallTankardTavern.Enumerators
@addTagHelper *, TheTallTankardTavern

<style>
    #character-other-stats label {
        font-weight: bold;
    }
</style>

<table id="character-languages">
    <thead>
        <tr>
            <th>Languages</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < ModelListHelper.AllValues<LANGUAGES>().Length; i++)
        {
            <tr>
                <td><label>@(ModelListHelper.AllValues<LANGUAGES>()[i].EnumToString())</label></td>
                <td><input type="checkbox" asp-for="@Model.Languages[i]" /></td>
            </tr>
        }
    </tbody>
</table>