@model TheTallTankardTavern.Models.CharacterModel
@addTagHelper *, TheTallTankardTavern

<style>
    #character-other-proficiencies textarea {
        resize: none;
        font-size: smaller;
        margin: 5px;
    }

    #character-other-proficiencies .note {
        font-size: small;
        font-style: italic;
    }
</style>

<div id="character-other-proficiencies">
    <strong>Miscellaneous Proficiencies</strong>
    <div class="note">
        <a href="https://www.dndbeyond.com/sources/basic-rules/equipment#ArtisansTools">Artisan's tools</a>,
        <a href="https://www.dndbeyond.com/sources/basic-rules/equipment#GamingSet">Game sets</a>,
        <a href="https://www.dndbeyond.com/sources/basic-rules/equipment#MusicalInstrument">Music instruments</a>,
        <a href="https://www.dndbeyond.com/sources/basic-rules/equipment#OtherTools">Other tools</a>
    </div>
    <div class="row">
        <div class="col-md-12">
            <textarea asp-for="Proficiencies" rows="10"></textarea>
        </div>
    </div>
</div>