@addTagHelper *, TheTallTankardTavern

<style>
    #import-operations a {
        font-weight: bold;
    }
</style>

<div id="import-operations">
    <div><a asp-action="ImportDND5EAPISpells">Import Spells</a></div>
    <div><a asp-action="ImportDND5EAPIClassFeatures">Import Class Features</a></div>
</div>