@addTagHelper *, TheTallTankardTavern
@using static TheTallTankardTavern.Configuration.ApplicationSettings

<style>
    #reload-operations a {
        font-weight: bold;
    }
</style>

<div><em>@ViewData["Message"]</em></div>
<div id="reload-operations">
    <a asp-action="ReloadConfigsAndData">Reload Configuration and Data files</a>
</div>
<br />
<div class="row" id="reset-character-items">
    <div class="col-md-3">
        <strong>Unequip Equipment</strong>
        <form asp-action="UnequipAllItems" method="post">
            <select name="cid" asp-items="CharacterDataContext.GetDataContextSelectList()"></select>
            <submit text="Confirm"></submit>
        </form>
    </div>
    <div class="col-md-3">
        <strong>Remove all items</strong>
        <form asp-action="RemoveAllItems" method="post">
            <select name="cid" asp-items="CharacterDataContext.GetDataContextSelectList()"></select>
            <submit text="Confirm"></submit>
        </form>
    </div>
</div>