@addTagHelper *, TheTallTankardTavern

<style>
    #reload-operations a {
        font-weight: bold;
    }
</style>

<div id="reload-operations">
    <div><a asp-action="ReloadConfigsAndData">Reload Configuration and Data files</a></div>
</div>
<div>
    <em>@ViewData["ReloadMessage"]</em>
</div>