@addTagHelper *, TheTallTankardTavern
@model TTT.Common.Abstractions.BaseModel

<style>
    #delete-cancel-buttons .btn {
        width: 70px;
    }
</style>

<span id="delete-cancel-buttons">
    <submit class="action-btn" text="Confirm"></submit>
    <buttonlink class="action-btn" asp-action="Details" asp-route-id="@Model.ID" text="Cancel"></buttonlink>
</span>