@addTagHelper *, TheTallTankardTavern
@{
    ViewData["Title"] = "Access Denied";
}

<h1>Access Denied</h1>

<p>You do not have access to the requested page.</p>

<buttonlink class="font-weight-bold" asp-controller="Home" asp-action="Index" text="Home"></buttonlink>
<buttonlink class="font-weight-bold" asp-controller="Login" asp-action="Index" text="Log in"></buttonlink>
