@addTagHelper *, TheTallTankardTavern
@using TheTallTankardTavern.Configuration

@{
    ViewData["Title"] = "Home Page";
}

@if (ContextUser.IsAuthenticated)
{
    <div>
        <buttonlink class="font-weight-bold" asp-controller="Character" asp-action="Index" text="Go to my Characters"></buttonlink>
        &nbsp;&nbsp;
        <buttonlink class="font-weight-bold" asp-controller="Party" asp-action="Index" text="Go to my Party"></buttonlink>
    </div>
    <br />
    <div class="row col-md-2">
        <strong>COLOUR KEY</strong>
        <table>
            <tr><td class="skill-proficient">PROFICIENT</td></tr>
            <tr><td class="skill-expert">EXPERT</td></tr>
            <tr><td class="item-magic">MAGIC</td></tr>
            <tr><td style="color:red"><strong>BAD</strong></td></tr>
        </table>
    </div>
}
else
{
    <div>
        <buttonlink class="font-weight-bold" asp-controller="Login" asp-action="Index" text="Click here to log in"></buttonlink>
    </div>
}
