@model TheTallTankardTavern.Models.CharacterModel
@addTagHelper *, TheTallTankardTavern

<div class="nav nav-tabs">
    <a class="nav-item nav-link active" data-toggle="tab" href="#character-items-equipped-armour-and-weapons"><strong>Equipped Armour &amp; Weapons</strong></a>
    <a class="nav-item nav-link" data-toggle="tab" href="#character-items-equipped-accessories"><strong>Equipped Accessories &amp; Money</strong></a>
    <a class="nav-item nav-link" data-toggle="tab" href="#character-items-inventory"><strong>Inventory</strong></a>
</div>
<div class="tab-content">
    <div id="character-items-equipped-armour-and-weapons" class="tab-pane active">
        <div class="row">
            <div class="col-md-12">
                <partial name="/Views/Character/Details/_Items/_EquippedArmourAndWeaponsPartial.cshtml" model="Model" />
            </div>
        </div>
    </div>
    <div id="character-items-equipped-accessories" class="tab-pane">
        <div class="row">
            <div class="col-md-10">
                <partial name="/Views/Character/Details/_Items/_EquippedAccessoriesPartial.cshtml" model="Model" />
            </div>
            <div class="col-md-2">
                <partial name="/Views/Character/Details/_Items/_CoinsPartial.cshtml" model="Model" />
            </div>
        </div>
    </div>
    <div id="character-items-inventory" class="tab-pane">
        <div class="row">
            <div class="col-md-12">
                <partial name="/Views/Character/Details/_Items/_InventoryPartial.cshtml" model="Model" />
            </div>
        </div>
    </div>
</div>
