@model TheTallTankardTavern.Models.CharacterModel
@addTagHelper *, TheTallTankardTavern

<div>
    <div class="row">
        <div class="flex-fill">
            <partial name="/Views/Character/Details/_Items/_EquippedArmourAndShieldPartial.cshtml" model="Model" />
        </div>
        <div class="col-md-3">
            <partial name="/Views/Character/Details/_Items/_UnarmedStrikePartial.cshtml" model="Model" />
            @if (Model.Equipment.SpellCastingFocus != null)
            {
                <partial name="/Views/Character/Details/_Items/_EquippedFocusPartial.cshtml" model="Model" />
            }
        </div>
        <div class="col-md-2">
            <partial name="/Views/Character/Details/_Items/_CoinsPartial.cshtml" model="Model" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <partial name="/Views/Character/Details/_Items/_EquippedWeaponsPartial.cshtml" model="Model" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <partial name="/Views/Character/Details/_Items/_InventoryPartial.cshtml" model="Model" />
        </div>
    </div>
</div>