@model TheTallTankardTavern.Models.CharacterModel
@using static TheTallTankardTavern.Configuration.Constants.ITEM_TYPES
@using TTT.String
@addTagHelper *, TheTallTankardTavern

<div class="nav nav-tabs">
    <a class="nav-item nav-link active" data-toggle="tab" href="#character-items-equipped-armour-and-weapons"><strong>Equipped Armour &amp; Weapons</strong></a>
    <a class="nav-item nav-link" data-toggle="tab" href="#character-items-equipped-accessories"><strong>Equipped Accessories &amp; Money</strong></a>
    <a class="nav-item nav-link" data-toggle="tab" href="#character-items-inventory">
        <strong>
            Inventory
            @if (Model.Inventory.Exists(i => ItemDataContext.GetModelFromID(i).Type.IsArmour))
            {
                <span style="color:red;font-weight:bold;font-style:italic;font-size:x-small">
                    One or more inventory items need to be equipped or removed
                </span>
            }
        </strong>
    </a>
</div>
<div class="tab-content">
    <div id="character-items-equipped-armour-and-weapons" class="tab-pane active">
        <div class="row">
            <div class="col-md-12">
                <partial name="/Views/Character/Details/_Items/_EquippedArmourAndWeaponsPartial.cshtml" model="Model" />
            </div>
        </div>
    </div>
    <div id="character-items-equipped-accessories" class="tab-pane">
        <div class="row">
            <div class="col-md-10">
                <partial name="/Views/Character/Details/_Items/_EquippedAccessoriesPartial.cshtml" model="Model" />
            </div>
            <div class="col-md-2">
                <partial name="/Views/Character/Details/_Items/_CoinsPartial.cshtml" model="Model" />
            </div>
        </div>
    </div>
    <div id="character-items-inventory" class="tab-pane">
        <div class="row">
            <div class="col-md-12">
                <partial name="/Views/Character/Details/_Items/_InventoryPartial.cshtml" model="Model" />
            </div>
        </div>
    </div>
</div>
