@model TheTallTankardTavern.Models.CharacterModel
@addTagHelper *, TheTallTankardTavern

<div id="character-spells">
    <buttonlink class="action-btn" asp-controller="Spell" asp-action="Index" text="Go to Spells"></buttonlink>
    @if (Model.SpellSlots[0] > 0)
    {    
        <div class="row">
            <div class="col-md-10">
                <partial name="/Views/Character/Details/_Spells/_SpellListPartial.cshtml" model="Model" />
            </div>
            <div class="col-md-2">
                <partial name="/Views/Character/Details/_Spells/_SpellSlotsPartial.cshtml" model="Model" />
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-md-12">
                <partial name="/Views/Character/Details/_Spells/_SpellListPartial.cshtml" model="Model" />
            </div>
        </div>
    }

    @if (Model.Class.ToLower().Contains("sorcerer"))
    {
    <div class="row">
        <div class="col-md-12">
            <partial name="/Views/Character/Details/_Spells/_SorcererPointConversionPartial.cshtml" />
        </div>
    </div>
    }
</div>