@model TheTallTankardTavern.Models.CharacterModel
@addTagHelper *, TheTallTankardTavern
@{
    ViewData["Title"] = Model.Name;
}

<div class="col-md-12" id="character-create">
    <form asp-action="Save" method="post">

        <div id="character-hidden">
            <hidden asp-for="ID"></hidden>
        </div>

        <partial name="/Views/Shared/Custom/ActionButtons/_BackSavePartial.cshtml" />
        <partial name="/Views/Character/Create/_CreatePartial.cshtml" model="Model" />
    </form>
</div>



