@model TheTallTankardTavern.Models.UserModel
@addTagHelper *, TheTallTankardTavern
@{
    ViewData["Title"] = Model.Name;
}

<div class="col-md-5">
    <form asp-action="Save" method="post">
        <hidden asp-for="ID"></hidden>
        <hidden asp-for="Message"></hidden>
        <hidden asp-for="MessageUpdated"></hidden>
        <partial name="/Views/Shared/Custom/ActionButtons/_BackSavePartial.cshtml" />
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><label asp-for="Name"></label></td>
                    <td><hidden asp-for="Name"></hidden>@Model.Name</td>
                </tr>
                <tr>
                    <td><label asp-for="Role"></label></td>
                    <td><hidden asp-for="Role"></hidden>@Model.Role</td>
                </tr>
                <tr>
                    <td><label asp-for="Username"></label></td>
                    <td><textbox asp-for="Username"></textbox></td>
                </tr>
                <tr>
                    <td><label asp-for="ActiveCharacterID"></label></td>
                    <td><select asp-for="ActiveCharacterID" asp-items="@SelectListHelper.GetProfileCharacters(Model)"></select></td>
                </tr>
            </tbody>
        </table>
    </form>
</div>

