<div class="navbar-nav flex-grow-0 dropdown">
    <button id="admin-dropdown-button" class="dropdown-toggle text-white btn" data-toggle="dropdown" type="button">
        Administrator
    </button>
    <div class="dropdown-menu bg-dark">
        <a class="dropdown-item text-white bg-dark" asp-area="" asp-controller="Admin" asp-action="Index">Admin Operations</a>
        <a class="dropdown-item text-white bg-dark" asp-area="" asp-controller="Import" asp-action="Index">Import</a>
        <a class="dropdown-item text-white bg-dark" asp-area="" asp-controller="User" asp-action="Index">User</a>
    </div>
</div>