<div class="navbar-nav flex-grow-0 dropdown">
    <button id="player-dropdown-button" class="dropdown-toggle text-white btn" data-toggle="dropdown" type="button">
        Player
    </button>
    <div class="dropdown-menu bg-dark">
        <a class="dropdown-item text-white bg-dark" asp-area="" asp-controller="Character" asp-action="Index">Characters</a>
        <a class="dropdown-item text-white bg-dark" asp-area="" asp-controller="Background" asp-action="Index">Backgrounds</a>
        <a class="dropdown-item text-white bg-dark" asp-area="" asp-controller="Feature" asp-action="Index">Features</a>
        <a class="dropdown-item text-white bg-dark" asp-area="" asp-controller="Spell" asp-action="Index">Spells</a>
    </div>
</div>