<div class="navbar-nav flex-grow-0 dropdown">
    <button id="dungeon-master-dropdown-button" class="dropdown-toggle text-white btn" data-toggle="dropdown" type="button">
        Dungeon Master
    </button>
    <div class="dropdown-menu bg-dark" aria-labelledby="dungeon-master-dropdown-button">
        <a class="dropdown-item text-white bg-dark" asp-area="" asp-controller="Item" asp-action="Index">Items</a>
        <a class="dropdown-item text-white bg-dark" asp-area="" asp-controller="Material" asp-action="Index">Materials</a>
    </div>
</div>