<ul class="navbar-nav flex-shrink-1">
    <li class="nav-item"><a class="nav-link text-white" asp-area="" asp-controller="User" asp-action="Profile">Welcome, @TheTallTankardTavern.Configuration.ContextUser.GetContextUser.Username!</a></li>
    <li class="nav-item"><a class="nav-link text-white" asp-area="" asp-controller="Login" asp-action="LogOut">Log out</a></li>
</ul>