<div class="navbar-nav flex-grow-1 dropdown">
    <button id="appendix-dropdown-button" class="dropdown-toggle text-white btn" data-toggle="dropdown" type="button">
        Appendix
    </button>
    <div class="dropdown-menu bg-dark" aria-labelledby="appendix-dropdown-button">
        <a class="dropdown-item text-white bg-dark" asp-area="" asp-controller="Appendix" asp-action="Calendar">Calendar</a>
        <a class="dropdown-item text-white bg-dark" asp-area="" asp-controller="Appendix" asp-action="CharacterAdvancement">Character Advancement</a>
        <a class="dropdown-item text-white bg-dark" asp-area="" asp-controller="Appendix" asp-action="Combat">Combat</a>
        <a class="dropdown-item text-white bg-dark" asp-area="" asp-controller="Appendix" asp-action="HomebrewConditions">Homebrew Conditions</a>
        <a class="dropdown-item text-white bg-dark" asp-area="" asp-controller="Appendix" asp-action="Maps">Maps</a>
        <a class="dropdown-item text-white bg-dark" asp-area="" asp-controller="Appendix" asp-action="MassiveDamage">Massive Damage</a>
        <a class="dropdown-item text-white bg-dark" asp-area="" asp-controller="Appendix" asp-action="SpellSlots">Spell Slots</a>
    </div>
</div>